.row
  .columns.medium-4.medium-offset-4.text-center
    %p= "Is #{@turn.player.name} telling the truth or lying?"

    %p= "Submit your guesses"

    = form_tag turn_guesses_path(@turn) do |f|
      - @turn.guessing_players.each do |player|
        %p= player.name
        .switch
          %input.switch-input{type: "checkbox", name:"player[#{player.id}][lie]", id: "lies-#{player.id}"}
          %label.switch-paddle{for: "lies-#{player.id}", style: 'display: 100px; '}
            %span.show-for-sr Do you like me?
            %span.switch-active Truth
            %span.switch-inactive Lies!

      %input.button{type: 'submit', value: 'Submit'}


:coffeescript
  $ ->
